a {
    color: black;
}

*{
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    
}

.container {
    max-width: 1920px;
    transition: 0.5s;
    background-color: #f5f5f5;
    height: 100vh;
}

.wrapper {
    max-width: 81vw;
    max-height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    opacity: 0.3;
    background-color: #f5f5f5;
}

.container header {
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px;
}

header .links ul{
    display: flex;
}

header .links ul a img{
    width: 50%;
}

.sidebar {
    background-color: #359B44;
    margin-top: 72.42px;
    padding-top: 20px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    z-index: 999;
    border-radius: 0 30px 30px 0;
    background-image: url(images/Group\ 55.png);
    background-size: contain;
    background-position: 50% 80%;
    background-repeat: no-repeat;
}

.sidebar #worker {
    color: #FDC349;
}

.siderbar_background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background-color: #19b3d3;
}

.sidebar i {
    padding-right: 10px;
}

#menuicon:checked ~ .sidebar{
    left: -190px;
}

#menuicon:checked ~ .sidebar a span {
    display: none;
}

#menuicon:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

#menuicon:checked ~ .wrapper{
    opacity: 1;
}

#menuicon {
    display: none;
}

.slideinfo {
    display: flex;
    width: 1920px;
    justify-content: flex-start;
}

.slideinfo_box {
    width: 100vw;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slideinfo_box p {
    margin-left: 30px;
}

.slideinfo .slideinfo_box .textbox{
    display: flex;
    animation: textmove 10s linear both infinite;
}

.anchor {
    position: fixed;
    left: 95%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info {
    font-size: 1em;
    font-weight: bold;
}


@keyframes textmove {
    0% { transform: translateX(300%);
    }
    100% { transform: translateX(-100%);}
}

input[id="menuicon"] {
    display: none;
}

input[id="menuicon"] + label {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: #000;
    transition: all .35s;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 0;
    transform: rotate(0);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 0;
    transform: rotate(0);
}

input[id="menuicon"] + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"] + label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"] + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

input[id="menuicon"]:checked ~ .sidebar {
    background-image: none;
}

.sidebar label {
    margin: 20px auto;
}

#sidebaricon {
    margin: 20px;
    float: left;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .main-container {
    padding: 30px;
  }
  
  /* HEADING */
  
  .heading {
    /* text-align: center; */
  }
  
  .heading__title {
    font-weight: 600;
  }
  
  .heading__credits {
    margin: 10px 0px;
    color: #888888;
    font-size: 25px;
    transition: all 0.5s;
  }
  
  .heading__link {
    text-decoration: none;
  }
  
  .heading__credits .heading__link {
    color: inherit;
  }
  
  /* CARDS */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 300px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: center;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }
  
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
  }
  
  .card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
  }
  
  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
  

.cards h2{
    margin-left: 50%;
    font-weight: bold;
    font-size: 30px;
}